<section id="basicshijaiyah">
  <div></div>
    <div id="pricing" class="pricing-tables">
      <div class="tables-left-dec">
        <img src="static/img/tables-left-dec.png" alt="">
      </div>
      <div class="tables-right-dec">
        <img src="static/img/tables-right-dec.png" alt="">
      </div>

      <!-- startig hijaiyah basics -->
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center"><br>
          <h1 class="section-title position-relative text-center mb-5">Hijaiyah Basics</h1>
        </div>
        <hr style="margin-top: 10px";><br>
        <div class="media"> 
          <div class="container-fluid"><br><br><br>
            <h4 class="font-weight-bold">Hijaiyah</h4>
              <p style="text-align: left;">Untuk mempelajari Al-Quran dengan baik dan benar, hal penting yang paling utama adalah hafal dan fasih dalam pelafalan huruf hijaiyah.
              Hal tersebut wajib karena merupakan hal dasar untuk belajar membaca Al-Quran. Setelah dapat mengenal huruf hijaiyah maka dapat menjadi pengantar untuk lebih mudah
              mempelajari Al-Quran tingkat lanjut seperti mempelajari ilmu Tajwid. </p>
          </div>
          <div class="container-fluid">
            <img src="static/img/a.png" width="500px" height="400px">
          </div>
        </div>
        
        <br><br><br><br>
        <div class="media"> 
          <div class="container-fluid">
            <img src="static/img/d.png" width="550px" height="500px">
          </div>
            <div class="container-fluid"><br><br><br><br><br>
              <h4 class="font-weight-bold" style="text-align: left";>Apa itu Hijaiyah?</h4>
                <p style="text-align: left;">Hijaiyah adalah suatu istilah yang merujuk pada alfabet atau abjad dalam bahasa arab. Dalam konteks agama Islam, istilah ini biasanya mengacu pada huruf-huruf Arab yang digunakan dalam penulisan Al-Qur'an, 
                dan teks-teks Islami lainnya. Dalam konteks ilmu tajwid, 'Hijaiyah' mengacu pada aturan dan kaidah-kaidah bacaan yang digunakan untuk membaca huruf-huruf Arab dengan benar sesuai dengan ketentuan tajwid. 
                Huruf Hijaiyah terdiri dari 28 huruf dasar yang menjadi dasar dari banyak tulisan dalam bahasa arab.</p>
            </div>
        </div>
        
        <br><br><br><br>
        <div class="media"> 
          <div class="container-fluid"><br><br><br><br><br>
            <h4 class="font-weight-bold">Huruf Hijaiyah</h4>
            <p style="text-align: left;">Pada dasarnya, huruh hijaiyah terdiri dari 28 huruf dasar. Namun, terdapat beberapa huruf yang merupakan penggabungan
              dari 2 huruf serta huruf yang berdiri sendiri. Sehingga, total huruf hijaiyah adalah 30 huruf dengan huruf yang berdiri sendiri
              adalah huruf hamzah dan lamalif (gabungan huruf lam dan alif). 30 Huruf hijaiyah dapat dilihat pada gambar di samping.</p>
          </div>
            <div class="container-fluid">
            <img src="static/img/h.png" width="400px" height="400px">
            </div>
        </div>
        <!-- end hijaiyah basics -->
      </div>
    </div>
    <br><br><br><br>
</section>