<!-- About Start -->
<section id="tajwidbasics">
    <!-- <div style="margin: 0; padding: 0; background: url('static/img/bg-body.jpg') no-repeat center center fixed; 
        background-attachment: fixed; background-size: cover;"> -->
    <div class="container-fluid"> <br><br><br><br><br><br>
        <div class="row justify-content-center">
            <h1 class="section-title position-relative text-center mb-5">Tajwid Basics</h1>   
        </div>
        <div class="container" data-aos="fade-up">
        <hr style="margin-top: 10px";></div>

        <!-- Project One Row-->
        <section class="projects-section" id="projects">
            <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="static/img/c.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project" style="background-color: rgb(255, 226, 226);">
                    <div class="d-flex h-100">
                        <div style="text-align: center;" class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 style="color: black; text-align: center;">Definisi Tajwid</h4>
                            <p style="color: black; text-align: center;">Tajwid adalah ilmu yang membahas tentang cara melafalkan huruf-huruf Arab dengan benar saat membaca Al-Qur'an. Lebih dari sekadar mengucapkan huruf, tajwid melibatkan aturan-aturan khusus untuk menghormati keaslian dan keindahan bacaan Al-Qur'an. Tujuan utama dari tajwid adalah untuk membaca Al-Qur'an dengan cara yang paling akurat dan jelas sehingga makna dari ayat-ayat suci tersebut dapat dipahami dengan benar.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="static/img/b.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project" style="background-color: rgb(226, 235, 255);">
                    <div class="d-flex h-100">
                        <div style="text-align: center;" class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 style="color: black; text-align: center;" >Al-Quran dengan Tajwid</h4>
                            <p style="color: black; text-align: center;">Tajwid memiliki manfaat penting dalam membaca Al-Qur'an dengan benar dan bermakna. Dengan menghormati aturan-aturan tajwid, kita menghindari kesalahan makna, memperkuat kedekatan dengan Allah, meningkatkan pemahaman ayat-ayat, dan mengalami keindahan dalam bacaan. Selain itu, penerapan tajwid mengajarkan disiplin, kesabaran, dan mengajak kita untuk mewariskan nilai-nilai agama kepada generasi berikutnya. Dengan membaca Al-Qur'an dengan tajwid yang benar, kita menjaga integritas ajaran agama dan merasakan kedekatan spiritual yang mendalam.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>

        <!-- <div class="container">   
            <hr style="margin-top: 0px";><br>
            <div class="col" style="text-align: justify;">
                <h4 class="font-weight-bold ">Aspek Utama Tajwid</h4>
                <p class="text-muted">Aspek utama tajwid berkaitan dengan huruf-huruf Arab dan karakteristik khusus yang harus diperhatikan saat membaca Al-Qur'an. Pengucapan yang benar dari huruf-huruf ini sangat penting dalam tajwid, karena kesalahan dalam pengucapan bisa mengubah makna ayat atau merusak keindahan bacaan. Berikut adalah beberapa poin penting terkait aspek ini:</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Ikhfa (الإخفاء):</h5>
                <p>Huruf-huruf ini memiliki ciri khusus di mana pengucapannya agak disamarkan saat berpindah dari huruf sebelumnya. Contoh huruf ikhfa: ب، ج، د، ط، ق.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Iqlab (الإقلاب):</h5>
                <p>Huruf-huruf ini mengalami perubahan suara saat diikuti oleh huruf ن. Pengucapan huruf ini berubah menjadi huruf ن. Contoh huruf iqlab: ب menjadi ن.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Idgham (الإدغام):</h5>
                <p>Huruf-huruf ini menyambung dengan huruf berikutnya sehingga pengucapan keduanya disatukan. Terdapat dua jenis idgham: idgham bila ghunnah (dengan bunyi nasal) dan idgham bila ghunnah (tanpa bunyi nasal). Contoh huruf idgham: ب، ج، د، ط، ظ menjadi م، ن، و، ل، ر.                </p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Mad (المد):</h5>
                <p>Mad adalah perpanjangan suara pada huruf tertentu, yang memiliki tiga jenis: mad asli (panjang asli), mad wajib (panjang diperlukan), dan mad lazim (panjang umum). Contoh huruf mad: ا، و، ي.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Qalqalah (القلقلة):</h5>
                <p>Huruf-huruf ini memiliki bunyi getar atau getaran ringan saat diucapkan. Terdapat lima huruf qalqalah: ق، ط، ب، ج، د.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Tanwin (تنوين):</h5>
                <p>Huruf ini menunjukkan akhiran jamak atau tanwin dalam kata. Pengucapan tanwin membutuhkan perubahan suara yang halus. Contoh huruf tanwin: ً، ٌ، ٍ.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Huruf Ghunnah (الغنة):</h5>
                <p>Ghunnah adalah bunyi nasal yang dihasilkan saat mengucapkan huruf nun mati atau tanwin. Ghunnah terjadi ketika huruf tersebut diletakkan dalam kata-kata tertentu.</p>
            </div> <br><br>
        </div> -->
        </div>
        <!-- </div> -->
</section>
<!-- About End -->