<!-- Footer Start -->
<div class="container-fluid footer bg-footer py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a href="index.html" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">Hijai
                        </span>Tech</h1>
                </a>
            <div class="col-12">
                <p class="m-0" style="color: rgb(0, 0, 0);">Aplikasi Klasifikasi Huruf Hijaiyah</p>
            </div>
            <div class="col-12">
                <p class="m-0" style="color: rgb(0, 0, 0);">Copyright @ 2023 | All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->